################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClearRouteAutoGlass/.vs/ClearRouteAutoGlass/v16
/ClearRouteAutoGlass/CRAG/bin/Debug/net5.0
/ClearRouteAutoGlass/CRAG/obj
/.vs
/ClearRouteAutoGlass/.vs/ClearRouteAutoGlass/config
/ClearRouteAutoGlass/ARAG.Utility/obj
/ClearRouteAutoGlass/CRAG.DataAccess/obj
/ClearRouteAutoGlass/CRAG.Models/obj
/ClearRouteAutoGlass/CRAG.Utility/obj
/ClearRouteAutoGlass/CRAG.DataAccess/bin/Debug/netcoreapp3.1
/ClearRouteAutoGlass/CRAG.Models/bin/Debug/netcoreapp3.1
/ClearRouteAutoGlass/CRAG.Utility/bin/Debug/netcoreapp3.1
